html {
  scroll-behavior: smooth;
}
body {
  background-color: #1a0d00;
}
/* global */
#global-color {
  color: #86592d;
}
.read-more-button {
  width: 120px;
  height: 50px;
  color: #604020;
  background: #261a0d;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
.read-more-button:hover {
  color: #c68c53;
  background: #392613;
}
.coffee-bean-button {
  width: 150px;
  height: 50px;
  color: #996633;
  background: #4d3319;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
.coffee-bean-button:hover {
  color: #c68c53;
  background: #392613;
}
/* nav bar style starts */
.navbar {
  border-bottom: 1px solid #008fb3;
  opacity: 0.6;
  background-color: #261a0d !important;
}
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: bold;
  color: ivory;
}
.navbar img {
  width: 45px;
}
/* nav bar style ends */
/* banner starts */
#banner {
  background: url("../img/banner3.png") no-repeat;
  background-size: cover;
  min-height: 700px;
  color: #ccccb3;
}
#banner .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-inner {
  padding-top: 150px;
}
.banner-buttons {
  margin-top: 50px;
}
/* banner ends */
#who-we-are {
  color: #734d26;
  font-weight: bold;
}
#about-market {
  font-weight: bold;
  color: #86592d;
}
#about-text {
  color: #ccccb3;
}
#about-headers {
  color: #86592d;
  font-weight: bold;
}
.about-img img {
  width: 55px;
}
/* About start */
/* products start */
#recent-product-title {
  font-weight: bold;
  color: #86592d;
}
.product-img img {
  width: 350px;
  height: 300px;
}
.card {
  background-color: #392613 !important;
}
.card-body {
  color: #a07e5d;
}
#product-price {
  font-weight: bolder;
  color: #996633;
}
button i {
  color: #fff;
}
/* products end */
/* gallery starts */
#gallery-title {
  font-weight: bold;
  color: #86592d;
}
/* gallery ends */
/* footer */
.footer-options ul li {
  list-style: none;
}
.footer-options ul li a {
  text-decoration: none;
  color: #86592d;
}
.small-footer {
  min-height: 50px;
  background-color: #331a00;
  color: #996633;
}
.small-footer a {
  color: #996633;
}
